<h2 class="non lower"><%= t('hyrax.collection.form.description') %></h2>
<div id="base-terms">
  <% f.object.primary_terms.each do |term| %>
      <%= render_edit_field_partial(term, f: f) %>
  <% end %>

  <% if f.object.persisted? %>
      <%# we're loading these values dynamically to speed page load %>
      <%= f.input :thumbnail_id,
                  input_html: { data: { text: f.object.thumbnail_title } } %>
  <% end %>
</div>
<% if f.object.display_additional_fields? %>
    <%= link_to t('hyrax.collection.form.additional_fields'),
                '#extended-terms',
                class: 'btn btn-default additional-fields',
                data: { toggle: 'collapse' },
                role: "button",
                'aria-expanded'=> "false",
                'aria-controls'=> "extended-terms" %>
    <div id="extended-terms" class='collapse'>
      <% f.object.secondary_terms.each do |term| %>
          <%= render_edit_field_partial(term, f: f) %>
      <% end %>
    </div>
<% end %>
<%= hidden_field_tag :type, params[:type] %>
<% if params[:batch_document_ids].present? %>
    <% params[:batch_document_ids].each do |batch_item| %>
        <input type="hidden" name="batch_document_ids[]" value="<%= batch_item %>"/>
    <% end %>
<% end %>
