<% id = document.id %>
<tr id="document_<%= id %>">
  <td><input type="checkbox"></td>
  <td>
    <div class="thumbnail-title-wrapper">
      <div class="thumbnail-wrapper">
        <%= image_tag(document.thumbnail_path) %>
      </div>
      <%= link_to url_for_document(document), id: "src_copy_link#{id}" do %>
        <%= document.title_or_label %>
      <% end %>
    </div>
  </td>
  <td><%= document.human_readable_type %></td>
  <td><%= render_visibility_link(document) %></td>
  <td>[# items]</td>
  <td class="date"><%= document.create_date.try(:to_formatted_s, :standard) %> </td>
  <td><%= render 'hyrax/my/collection_action_menu', id: id %></td>
</tr>
