<% provide :page_title, t("hyrax.admin.sidebar.collections") %>

<% provide :head do %>
  <%= rss_feed_link_tag route_set: hyrax %>
  <%= atom_feed_link_tag route_set: hyrax %>
<% end %>

<%= javascript_tag do %>
  <%= render partial: 'scripts', formats: [:js] %>
<% end %>

<% provide :page_header do %>
  <h1><span class="fa fa-folder-open"></span> <%= t("hyrax.admin.sidebar.collections") %></h1>
<% end %>

<div class="collections-wrapper">
  <section class="tabs-row">
    <!-- Page tabs -->
    <nav><%= render 'tabs' if can?(:read, :admin_dashboard) %></nav>
    <% if can?(:create, Collection) %>
      <%= link_to(
            t(:'helpers.action.collection.create'),
            '#',
            data: { behavior: "select-work", target: "#collection-to-create", 'create-type' => 'batch' },
            class: 'btn btn-primary create-collection-button'
          ) %>
    <% end %>
  </section>

  <div class="panel panel-default collections-panel-wrapper">
    <div class="panel-heading">
      <h3 class="panel-title"><strong><%= @response.docs.count %> collections</strong> in the repository</h3>
    </div>
    <div class="panel-body">
      <h2 class="sr-only"><%= t("hyrax.dashboard.my.collections.collections_listing") %></h2>
      <%= render 'facets' %>
      <!--
      <div class="form-inline inline-dropdowns">
        <label>Filter collections:</label>
        <select class="form-control">
          <option>Type</option>
          <option>user</option>
          <option>curated</option>
        </select>
        <select class="form-control">
          <option>Visibility</option>
          <option>Private</option>
          <option>Public</option>
          <option>Institution</option>
        </select>
      </div>
      -->
      <%= render 'document_list' %>
      <%= render 'results_pagination' %>
    </div>
  </div>

  <!-- Render Modals -->
  <%= render 'delete_collections_modal' %>
  <%= render 'delete_collections_deny_modal' %>
  <%= render 'select_collection_type_modal' %>
</div>
